.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.galleryItem {
  width: calc((100% - 10px * 3) / 4);
}

/* .gallery-item img {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease;
} */
